# Node
node_modules/
npm-debug.log
.yarn/
.next/
/package-lock.json

# Python / FastAPI
__pycache__/
*.pyc

# Spark output
backend/processed-data/
data/raw/
data/processed/

# Environment
.env
*.env

# OS stuff
.DS_Store

# Docker junk
*.pid
*.lock
