services:
    spark-master:
        build: ./docker/spark
        container_name: spark-master
        environment:
            - SPARK_MODE=master
            - SPARK_NO_DAEMONIZE=true
            - PYSPARK_PYTHON=python3
        command: >
            /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
            --host spark-master
        ports:
            - "8080:8080" # Spark master UI
            - "7077:7077" # Spark master service port
        networks:
            - spark-net
        volumes:
            - ./:/app
            - ./backend/processed-data:/data/processed
            - ./data/raw:/data/raw

    spark-worker:
        build: ./docker/spark
        container_name: spark-worker
        depends_on:
            - spark-master
        environment:
            - SPARK_NO_DAEMONIZE=true
            - PYSPARK_PYTHON=python3
        command: >
            /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker
            spark://spark-master:7077
        ports:
            - "8081:8081" # Spark worker UI
        networks:
            - spark-net
        volumes:
            - ./:/app
            - ./backend/processed-data:/data/processed
            - ./data/raw:/data/raw

    fastapi:
        build: ./backend
        container_name: fastapi
        volumes:
            - ./backend/fastapi:/app
            - ./backend/processed-data:/data/processed
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            - PROCESSED_DIR=/data/processed
        ports:
            - "8000:8000"
        depends_on:
            - spark-master
        networks:
            - spark-net

networks:
    spark-net:
        driver: bridge
